@font-face {
    font-family: 'graphik';
    src: url('./GraphikRegular.otf') format('truetype');
}
@font-face {
    font-family: 'Satoshi';
    src: url('./Satoshi-Variable.ttf') format('truetype');
}